    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>In Progress</h2>

              <p>A broader site is in progress.  In the meantime, please take a look at my folio and feel free to <a href="#contact">get in touch</a>.</p>

              <div data-configid="9870397/13405468" style="width:600px; height:400px; margin-left: auto; margin-right: auto;" class="issuuembed"></div>
              <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>            
            </div>
        </div>
    </section>
