<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">{{ site.sub-title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p>I first became interested in VM (visual merchandising) when I began working as a Children's Specialist at the book retailer, Borders. I enjoyed applying my creative skills when making engaging displays in the children's section and was interested in the direct impact that well planned, eye-catching merchandising would have on sales.</p>

                            <p>After completing my Bachelor of Business I enrolled in a Diploma of Visual Merchandising.  RMIT offered strong industry connections and an emphasis on applying creativitiy in a practical manner.  I was involved in the design, construction and installation of high profile window displays for retailers Country Road, Seed Heritage and Sportsgirl, invaluable experiences and an opportunity to put to practise the skills developed throughout the course.</p>

                            <p>After completing my diploma in 2013, I joined UNIQLO Australia where I formed part of the VM team who merchandised the flagship Emporium Melbourne store.  I went on to open the second Melbourne store, Chadstone, and was promoted to Visual Merchandise Supervisor for that store shortly after.  I hold this role today.</p>

                            <p>I love the different facets of working in VM.  The blend of business and creativity involved in my role, such as creating impactful window displays, styling fashion, and creating beautiful in-store experiences, is a rewarding fusion of my business and creative backgrounds.  My passion extends beyond work and I often wander down the busy streets of Melbourne seeking out incredible window displays, art installations and interesting ways of representing a brand.  I love film and it's a dream of mine to one day be involved in set design for a motion picture.</p>

                            <p>From time to time I enjoy the creative challenge of a freelance or volunteer opportunity so please don't hesitate to <a href="#contact">contact me</a> if you're interested in discussing styling for retail or events.</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </section>