    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <p>I’m a Melbourne based visual merchandiser and stylist.</p>

              <p>My interest in VM began working in various retail and merchandising roles for a few years, enjoying the creativity, marketing and business links and variety that is visual merchandising. After meeting people working in the industry I then took this passion to study, completing a diploma of Visual Merchandising in 2013. Whilst studying I completed internships with Country Road and Seed Heritage, both very successful Australian retailers and high achievers in the VM industry. I loved the amount of exposure to different industries in the course taking on every opportunity, working in events with Georgeous Occasions and assisting at other fashion events, including designing a window for Sportgirl at Chapel Street.</p>

              <p>Currently working for Uniqlo Australia as a Visual Merchandise Supervisor, I love all the different facets of working in VM and the blend of business and creativity in my role. Whether it be creating impactful window displays, to styling fashion, or creating a beautiful in store experience. I often wonder down the busy streets of Melbourne and it’s surroundings seeking out incredible window displays, art installations and interesting ways of representing a brand.</p>

              <p>My freelance work has included visual merchandising work with various small business retailers creating window displays and styling weddings for clients. Other interests I would love to explore more include set design for fashion runways and the film industry, event styling and fashion styling. I hope to extend my skills and knowledge further with experience in various roles and briefs for a variety of clients.</p>          
            </div>
        </div>
    </section>
