<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title | upcase}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Chris Ilott</div>
                <div class="intro-lead-in">Visual Merchandiser and Stylist.</div>
                <div style="background-color:rgba(0, 0, 0, 0.67); padding: 10px; max-width: 700px; margin: auto; margin-bottom: 50px; text-align: justify;">
                    <p style="font-size: 1.1em;">Chris commenced his VM career at UNIQLO's premiere Australian store, <a href="http://www.uniqlo.com/au/shop/emporium_melbourne.html">Emporium Melbourne</a>, having completed RMIT's industry recognised <a href="https://www.rmit.edu.au/study-with-us/levels-of-study/vocational-study/diplomas/c5325/">Diploma of Visual Merchandising</a>.  Whilst studying, Chris gained extensive practical experience interning at Australian fashion icons <a href="http://www.countryroad.com.au">Country Road</a>, <a href="http://www.seedheritage.com">Seed Heritage</a> and <a href="http://www.sportsgirl.com.au">Sportsgirl</a>, and volunteering as an event stylist with <a href="http://georgeous.com.au">Georgeous Occasions</a>.  His diploma is complemented by a prior Bachelor of Business and more than five years retail experience.</p>

                    <p style="font-size: 1.1em;">Chris is currently a Visual Merchandise Supervisor with UNIQLO Australia.</p>
                </div>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

